.App {
  padding: 200px;
  text-align: center;
  font-size: large;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
}
nav{
  height: 56px;
  width: 100%;
  list-style: none;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
 }
img{
  height:55px;
}
form{
  box-sizing: border-box;
  margin-left: 200px;
  width: 10px;
  padding: 20%;
  border: 5px solid #c56b16;

}
.container {
  padding: 2px;
  display: flex;
}
button{
  background-color:#c56b16;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-more{
  background-color: #d39952;
  color: white;
  display: block;
  padding: 5px;
  margin: 0 50px;
  margin-left: 550px;
  width:80px;
  border: 2px solid #aa6817;
  cursor: pointer;
  outline: none;
}
.btn-less{
  background-color: #d39952;
  color: rgb(15, 5, 5);
  display: block;
  padding: 5px;
  margin: 0 5px;
  width:80px;
  border: 2px solid #aa6817;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: #b4783f;
  color: #ffffff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.btn-checkout
{
  margin-left: 50%;
}
.topBun{
  width: 30%;
  margin: 2% auto;
  box-shadow: inset -15px 0 #c15711;
  height: 20%;
  background:linear-gradient(#bc581e,#e27b36);
  border-radius: 50% 50% 0 0;
  position: relative;
}
.burgerContent{
  padding-top: 100px;
}
.bottomBun{
  width: 30%;
  margin: 2% auto;
  box-shadow: inset -15px 0 #c15711;
  height: 20%;
  background:linear-gradient(#bc581e,#e27b36);
  border-radius: 0 0 30px 30px;
  position: relative;
}
.meat{
  width: 30%;
  height: 8%;
  background: #7a330e;
  margin: 1% auto;
  border-radius: 15px;
}
.cheese{
  width: 30%;
  height: 5%;
  background: #ddc031;
  margin: 1% auto;
}
.test{
  padding: 100px;
}
.lettuce{
  width: 30%;
  height: 5%;
  background:  linear-gradient(#228c1d,#91ce50);;
  margin: 1% auto;
  border-radius: 15px;
}
.tomato
{
  width: 30%;
  height: 4%;
  background:   linear-gradient(#bf3813,#c45e38);
  margin: 1% auto;
}
.total{
  padding: 10px;
  margin: 20px;
  background-color: #703b09;
  color: aliceblue;
  text-align: center;
}
.topnav {
  background-color: #703b09;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #e2a062;
  color: black;
}
.burgerContent{
  overflow-y: scroll;
  height: 650px;
  text-align: center;
}
.checkout{
  padding: 100px;
}
