.App {
  text-align: center;
  font-size: large;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
}
nav{
  height: 56px;
  width: 100%;
  list-style: none;
  position: fixed;
  display: flex;
  background-color: #703b09;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
 }
img{
  height:55px;
}
form{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
.container {
  padding: 80px;
}
button{
  background-color:#703b09;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.topBun{
  padding-top: 200px;
  height: 140px;
  width: 100%;
  background-image: url(./assets/top.jpg) ;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.bottomBun{
  height: 140px;
  width: 100%;
  background-image: url(./assets/bottom.jpg) ;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.meat{
  height: 56px;
  width: 100%;
  background-image: url(./assets/meat.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
}
.cheese{
  height: 56px;
  width: 100%;
  background-image: url(./assets/cheese.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
}
.test{
  padding: 100px;
}
.lettuce{
  height: 56px;
  width: 100%;
  background-image: url(./assets/lettuse.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
}
.tomato
{
  height: 56px;
  width: 100%;
  background-image: url(./assets/tomato.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
}
.total{
  padding: 10px;
  margin: 20px;
  background-color: #af7e50;
  color: aliceblue;
  text-align: center;
}
.topnav {
  background-color: #af7e50;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.container
{
  padding: 200px;
}
.burgerContent{
  overflow-y: scroll;
  height: 650px;
  text-align: center;
}
.checkout{
  padding: 100px;
}
